lang/oo2c/patches/patch-rsrc_OOC_xml_oberon-doc.dtd

$NetBSD: patch-rsrc_OOC_xml_oberon-doc.dtd,v 1.1 2022/12/21 11:34:53 wiz Exp $

Fix
parser error : Content error in the external subset

--- rsrc/OOC/xml/oberon-doc.dtd.orig	2002-12-29 16:18:39.000000000 +0000
+++ rsrc/OOC/xml/oberon-doc.dtd
@@ -1,5 +1,3 @@
-<?xml version='1.0' encoding='US-ASCII'?>
-
 <!ELEMENT bullet EMPTY>
 <!ELEMENT dots EMPTY>
 <!ELEMENT minus EMPTY>
